# UE-specific
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.vscode/
*.sln
*.VC.db
*.opensdf
*.log
*.vsconfig
# Ignore built data
*.pdb
*.obj
*.exe
*.dll
*.app

# Optional
.DS_Store
Thumbs.db
.vs/
.idea/
.vsconfig/